In [ ]:
#Question #1
l=[] #Create Empty list
n=int(input("Enter number of elements: ")) # Input for number of elements
for i in range(0,n): #for loop to add elements into list
  e=int(input("Enter element #"+str(i+1)+": "))
  l.append(e)
r=1
for i in range(0,(len(l))): #for loop to multiply elements by each other
  r*=l[i]
print(l)
print(r)

Enter number of elements: 3
Enter element #1: 2
Enter element #2: 3
Enter element #3: 6
[2, 3, 6]
36

In [84]:
#Question #2
l=[] #creating an empty list
n=int(input("Enter number of tuples in your list: "))
for i in range(0,n): #for loop to enter the values of the tuples
  t1=int(input("Enter first value of tuple #"+str(i+1)+": "))
  t2=int(input("Enter second value of tuple #"+str(i+1)+": "))
  l.append((t1,t2))
print(l) #checking if the inputs are correct
def second_value(my_tuple): #defining a function to return the second value of 
  first,second=my_tuple     #tuple to add to the sort function
  return second
l.sort(key=second_value)
print(l)

Enter number of tuples in your list: 5
Enter first value of tuple #1: 2
Enter second value of tuple #1: 5
Enter first value of tuple #2: 1
Enter second value of tuple #2: 2
Enter first value of tuple #3: 4
Enter second value of tuple #3: 4
Enter first value of tuple #4: 2
Enter second value of tuple #4: 3
Enter first value of tuple #5: 2
Enter second value of tuple #5: 1
[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [35]:
#Questioin #3
d1={} #creating 2 empty dictionaries
d2={}

n1=int(input("Enter number of Keys in dictionary 1")) #Input of the number of keys in the dictionary
for i in range(0,n1):
  k1=input("Enter key #"+str(i+1)+":")
  v1=int(input("Enter it's value: "))
  d1[k1]=v1
n2=int(input("Enter number of Keys in dictionary 2"))
for i in range(0,n2):
  k2=input("Enter key #"+str(i+1)+":")
  v2=int(input("Enter it's value: "))
  d2[k2]=v2
print(d1) #checking that the inputs are correct
print(d2)
for k in d2: #creating a for loop with if condition to add the values of the same keys
  if k in d1:
    d2[k] += d1[k]
for k in d1:  #creating a for loop with if condition to add the non existing keys in d2 to add them
  if k not in d2:
    d2[k]=d1[k]
  
print(d2)

Enter number of Keys in dictionary 13
Enter key #1:a
Enter it's value: 100
Enter key #2:b
Enter it's value: 200
Enter key #3:c
Enter it's value: 300
{'a': 100, 'b': 200, 'c': 300}
Enter number of Keys in dictionary 23
Enter key #1:a
Enter it's value: 300
Enter key #2:b
Enter it's value: 200
Enter key #3:d
Enter it's value: 400
{'a': 300, 'b': 200, 'd': 400}
{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [37]:
#Question #4
d={}
n=int(input("Enter number: "))
for i in range(1,n+1): 
  d[i]=i**2
print(d)

Enter number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [83]:
#Question #5
l=[] # creating empty list
n=int(input("Enter number of tuples in your list: "))
for i in range(0,n): #for loop to enter the values of the tuples
  t1= "item "+str(i+1)
  t2=input("Enter your float: ")
  l.append((t1,t2))
print(l)
def decimal(my_tuple): # creating a function that extracts the number after the decimal point
  _,my_decimal=my_tuple
  my_decimal_str=my_decimal.split('.')
  my_decimal_int=int(my_decimal_str[1])
  return my_decimal_int
l.sort(key=decimal)
print(l)

Enter number of tuples in your list: 3
Enter your float: 12.20
Enter your float: 15.10
Enter your float: 24.5
[('item 1', '12.20'), ('item 2', '15.10'), ('item 3', '24.5')]
[('item 3', '24.5'), ('item 2', '15.10'), ('item 1', '12.20')]