In [1]:
#Question 1
first_name=input("Enter your First Name: ")
last_name=input("Enter your Last Name: ")
full_name=(last_name +' '+first_name)
print(full_name)

Enter your First Name: Mohamed
Enter your Last Name: Ashraf
Ashraf Mohamed

In [4]:
#Question 2
n= input("Enter Value for n=")
answer= int(n)+int(n+n)+int(n+n+n)
print(answer)

Enter Value for n=5
615

In [9]:
#Question 3
n=int(input("Enter Value of n= "))
if n%2 == 0:
  print (True)
else:
  print (False)

Enter Value of n= 5
False

In [24]:
#Question 4
for i in range(2000,3201):
  if i%7 == 0 and i%5 != 0:
    print(i, end=" ")

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [31]:
#Question 5

n= int(input("Enter Value of n= "))
f=1 #assigning the factorial value
if n == 0: # 0! is 1
  print(1)
else:
  for i in range(1,n+1): #adding 1 to n as the outer boundary is exlusive
    f = f*i # multiplying the factorials by 
print(f)

Enter Value of n= 8
40320

In [63]:
#Question 6

line= input("Enter your line here:")

for i in range(0,(len(line))): #range between 0 and the number of characters
  if i%2 == 0: #Keeping the even number characters
    print(line[i], end="")

Enter your line here:hello team
hlota

In [58]:
p=int(input("Enter Price: "))
if p >= 500:
  d = 0.5*p #discount
  np= 0.5*p #new price
  print("Your discount is " + str(d))
  print("Your new price is " + str(np))
elif 200<= p <500:
  d= 0.3*p
  np= 0.7*p
  print("Your discount is " + str(d))
  print("Your new price is " + str(np))
else:
  d= 0.1*p
  np= 0.9*p
  print("Your discount is " + str(d))
  print("Your new price is " + str(np))

Enter Price: 500
Your discount is 250.0
Your new price is 250.0