In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})



labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [5]:
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [4]:
#Question #1

print(df.head(3))

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [7]:
#Question #2
df=df.dropna()
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [11]:
#Question #3

print(df[['name','score']])

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
8      Kevin    8.0
9      Jonas   19.0
k     Suresh   15.5

In [8]:
#Quesiton #4

df.loc['k']=['Suresh',15.5,1,'yes']
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [26]:
#Question #5
df.drop('attempts',inplace=True,axis=1)

print(df)

        name  score qualify
0  Anastasia   12.5     yes
1       Dima    9.0      no
2  Katherine   16.5     yes
4      Emily    9.0      no
5    Michael   20.0     yes
6    Matthew   14.5     yes
8      Kevin    8.0      no
9      Jonas   19.0     yes
k     Suresh   15.5     yes

In [30]:
#Question #6

def success(x):
    if x>10:
        return 1
    else:
        return 0
score=list(df['score'])
Success=list(map(success,score))
df['Success']=Success
print(df)

        name  score qualify  Success
0  Anastasia   12.5     yes        1
1       Dima    9.0      no        0
2  Katherine   16.5     yes        1
4      Emily    9.0      no        0
5    Michael   20.0     yes        1
6    Matthew   14.5     yes        1
8      Kevin    8.0      no        0
9      Jonas   19.0     yes        1
k     Suresh   15.5     yes        1

In [36]:
#Question #7

DF=df.to_csv('DF.csv')